@import "setup";

$tablet: "screen and  (min-width: 768px)";
$computer: "screen and (min-width: 1200px)";

/*Mobil*/
body {
  background-color: $background;

  /*Header*/
  nav {
    background-color: $backgroundSecond;
    ul {
      list-style: none;
      padding: 22px;
      font-size: 15pt;
      li {
        display: none;
        cursor: pointer;
      }
    }
    .fa-bars {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 20pt;
      cursor: pointer;
    }
    & :hover {
      color: white;
    }
  }

  /*Index*/
  .banner {
    width: 100%;
  }

  .index-hl {
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
  }
  .intro-text {
    padding: 10px 10%;
    width: 100%;
  }
  .se-kategori-link {
    text-decoration: none;
    color: black;

    .se-kategori {
      width: 100%;
      display: flex;
      justify-content: center;
      background: url("../images/sofa.jpg") no-repeat;
      height: 300px;
      background-size: cover;
      background-position: center center;
    }
    .se-hover {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;

      &:hover {
        background: linear-gradient(transparent, rgba(255, 255, 255, 0.67));
      }
      .se-kategori-hl {
        align-self: flex-end;
        font-size: xx-large;
      }
    }
  }
  .se-kategori-text {
    margin: 0 10%;
  }

  /*Kategori.html & sofa-udvalg.html*/
  .categories {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 10%;

    /*kategori.html*/
    .item1 {
      padding: 5px;
      border-style: solid;
      cursor: pointer;
    }

    .item1 :hover {
      cursor: pointer;
    }

    .item2, .item3 {
      padding: 5px;
      margin-top: 5px;
      border-style: solid;
    }

    /*sofa-udvalg.html*/
    .sofa1 {
      padding: 5px;
      border-style: solid;
    }

    .sofa1 :hover {
      cursor: pointer;
    }

    .sofa2, .sofa3, .sofa4, .sofa5, .sofa6 {
      padding: 5px;
      margin-top: 5px;
      border-style: solid;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .filter {
    position: fixed;
    background-color: dimgrey;
    opacity: 0.9;
    color: white;
    width: 110px;
    display: none;
  }

  .sidebar {
    background-color: dimgrey;
    width: 50px;
    position: fixed;
    padding: 3px;
    cursor: pointer;
  }

  .sidebar i {
    color: white;
  }

  .produkt {
    img {
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }

    .beskrivelse {
      text-align: justify;
      padding: 0 10%;
      display: flex;
      flex-direction: column;
      margin: 0 0 30px 0;
      h2 {
        align-self: flex-end;
      }
    }
  }
  .tilfojvare {
    display: flex;
    justify-content: flex-end;
    padding: 0 10% 0 0;
    width: 100%;
    margin-bottom: 30px;

    .fa-shopping-cart {
      font-size: 20pt;
    }
    h4 {
      text-align: right;
      cursor: pointer;
    }
  }

  /*kurv.html*/
  .kurv-hl-container, .kurv-item-container {
    width: 80%;
    margin: 5px auto;
    display: flex;
    align-items: center;
    height: 100px;
    background-color: rgba(255, 253, 231, 0.64);
    border-bottom: darkorange solid 1px;

    .item-hl, .item-name {
      width: 50%;
      padding-left: 5px;
    }
    .quantity-hl, .item-quantity {
      width: 25%;
    }
    .price-hl, .item-price {
      width: 25%;
    }
    .kurvImg {
      width: 130px;
      height: auto;
    }
  }
  .total-container {
    width: 80%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  /*Checkout.html*/
  .paymentoption-form {
    display: flex;
    flex-direction: column;
    margin: 0 15%;
  }
  .formInput {
    height: 30px;
    border: rgba(255, 197, 37, 0.51) solid;
    padding-left: 10px;
    margin-bottom: 10px;
    width: 100%;
  }

  .fa-cc-mastercard, .fa-cc-visa {
    position: unset;
    font-size: 20px;
  }
  form label {
    font-family: sans-serif;
    font-size: 15px;
  }
  .ToS-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  .formToS {
    height: 15px;
    border: rgba(255, 197, 37, 0.51) solid;
    width: 15px;
  }
  .checkout-button {
    height: 40px;
    font-size: 25px;
    border-radius: 20px;
    border: rgba(255, 197, 37, 0.51) solid;
    background-color: darkorange;
    cursor: pointer;
  }
  .checkout-button:hover {
    background-color: #ffc000;

  }

  /*Kvittering.html*/
  .receipt {
    display: flex;
    flex-direction: column;
    align-items: center;
    .receipt_check i {
      margin: 20px auto;
      width: 100%;
      text-align: center;
      font-size: 50px;
      color: deepskyblue;
    }
    .receipt_text {
      padding: 10px 10%;
    }
    .receipt_container {
      width: 100%;
      padding: 10px 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .receipt_item_img {
        width: 80%;
      }
      h3 {
        text-align: center;
      }
      span {
        margin: 10px 0;
      }

    }
    a {
      text-decoration: underline deepskyblue;
      color: deepskyblue;
      &:hover {
        color: dodgerblue;
        text-decoration: underline dodgerblue;
      }
    }
  }
  /*Footer*/
  footer {
    display: flex;
    padding: 20px 10%;
    justify-content: space-around;
    background-color: lightgrey;
    flex-wrap: wrap;
    margin-top: 20px;

    .cvr {
      margin-top: 10px;
    }
  }
  .betal {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

/*Tablet tall*/
@media #{$tablet} {


  body {
    nav {
      .fa-bars:before {
        display: none;
      }
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        li {
          display: block;
        }
      }
    }
  }

  .categories {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
  }

  .produkt img {
    width: 700px;
    height: auto;
  }

  .produkt p {
    width: 700px;
  }

  .beskrivelse {
    margin-left: 370px;
  }

  .beskrivelse h2 {
    margin-bottom: 20px;
  }

  .fa-shopping-cart {
    bottom: 10px;
  }

  .tilfojvare h4 {
    bottom: 10px;
  }

  .filter{
    display: block;
    width: 150px;
    height: 1150px;
    position: absolute;
    top: 60px;
    padding-top: 50px;
    opacity: 0.7;

  }

  .sidebar{
    display: none;
  }

  .hide{
    display: none;
  }
}

/*Tablet wide*/
@media #{$tablet} {
  .paymentoption-form {
    padding: 0 15%;
  }
}

/*PC*/
@media #{$computer} {

  .se-kategori {
    height: 450px;
    width: 70%;
  }
  .se-kategori-link {
    width: 70%;
    margin: 0 15%;
  }

  .categories{
    width: 50%;
    margin: 50px auto;
    .item1, .item2, .item3{
      width: 90%;
      margin: 0 auto;
    }
    .item1:hover{
      cursor: pointer;
      width: 100%;
    }
    .sofa{
      width: 90%;
      margin: 0 auto;
    }
    .sofa1:hover{
      width: 100%;
    }
  }
}

