/* Alt der gælder for mobil og højere */

* { /* Gælder alt på hele siden */
    -webkit-box-sizing: border-box; /* -webkit- browserunderstøttelse */
    box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen mv. */

}

body {
    margin: 0; /* Ingen kanter i siden af browser */
    background-color: lemonchiffon;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Ingen ydre margen fra overskrifter */
    padding: 0; /* Ingen indre margen fra overskrifter */
}

h1{
    text-align: center;
}

ul, ol {
    margin: 0; /* Ingen ydre margen fra lister */
    padding: 0; /* Ingen indre margen fra lister */
    list-style-position: inside; /* List punkter står på linje */
}

li {
    margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
    margin: 0; /* Ingen ydre margen fra paragraffer */
    padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
    display: block; /* Billeder er et element (laver linjeskift) */
    width: 350px; /* Bredde må maks fylde 100% */
    height: auto; /* Højden skal tilpasse sig */
}

a{
    text-decoration: none;
    color: black;
}

.header{
    background-color: cadetblue;
    height: 60px;

}
.nav{
    padding: 10px;
    list-style: none;
    font-size: 16pt;
    display: none;
    background-color: cadetblue;
}

.nav :hover{
    color: white;
}

.header i{
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 24pt;
    cursor: pointer;
}


.categories{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}

.item1{
    padding: 5px;
    border-style: solid;
    cursor: pointer;
}

.item1 :hover{
    width: 400px;
    height: auto;
    cursor: pointer;
}

.item2{
    padding: 5px;
    margin-top: 5px;
    border-style: solid;
}

.item3{
    padding: 5px;
    margin-top: 5px;
    border-style: solid;
}

.sofa1{
    padding: 5px;
    border-style: solid;
}

.sofa1 :hover{
    width: 400px;
    height: auto;
    cursor: pointer;
}

.sofa2{
    padding: 5px;
    margin-top: 5px;
    border-style: solid;
}

.sofa3{
    padding: 5px;
    margin-top: 5px;
    border-style: solid;
}

.sofa4{
    padding: 5px;
    margin-top: 5px;
    border-style: solid;
}

.sofa5{
    padding: 5px;
    margin-top: 5px;
    border-style: solid;
}

.sofa6{
    padding: 5px;
    margin-top: 5px;
    border-style: solid;
}

.produkt img{
    width: 350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.produkt p{
    width: 400px;
}

.beskrivelse{
    margin-left: 50px;
    text-align: justify;
}

.beskrivelse h2{
    position: absolute;
    right: 20px;
}

.fa-shopping-cart{
    position: absolute;
    right: 20px;
    bottom: 100px;
    font-size: 20pt;
}

.tilfojvare h4{
    position: absolute;
    text-align: right;
    right: 60px;
    bottom: 100px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    /* Alt der ændres i tablet stående fra mobil */

    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .categories{
        display: inline-grid;
        grid-template-columns: auto auto;
        grid-gap: 50px;
        position: absolute;
        left: 350px;
    }
}

@media screen and (min-width: 992px) {
    /* Alt der ændres i tablet liggende fra mobil og tablet stående */
}

@media screen and (min-width: 1200px) {
    /* Alt der ændres i computer fra mobil, tablet stående og tablet liggende */
}

@media print {
    /* Alt der gælder for print specifikt */
}